<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="max-w-md mx-auto bg-white p-6 rounded shadow-md space-y-4"
>
  <h2 mat-dialog-title>{{ data?.id ? "Editar" : "Nuevo" }} empleado</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" mat-dialog-content>
    <mat-form-field appearance="fill" class="w-full mb-2">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" required />
      <mat-error
        *ngIf="form.get('nombre')?.invalid && form.get('nombre')?.touched"
        >Nombre requerido</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full mb-2">
      <mat-label>Correo</mat-label>
      <input matInput formControlName="correo" required />
      <mat-error
        *ngIf="form.get('correo')?.invalid && form.get('correo')?.touched"
        >Correo válido requerido</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full mb-2">
      <mat-label>Cargo</mat-label>
      <input matInput formControlName="cargo" required />
      <mat-error
        *ngIf="form.get('cargo')?.invalid && form.get('cargo')?.touched"
        >Cargo requerido</mat-error
      >
    </mat-form-field>
	<mat-form-field appearance="fill" class="w-full mb-2">
	  <mat-label>Fecha de Ingreso</mat-label>
	  <input matInput formControlName="fecha_ingreso" type="date" />
	</mat-form-field>
    <div *ngIf="error" class="text-red-600 mb-2">{{ error }}</div>
    <div mat-dialog-actions align="end">
      <button mat-button type="button" (click)="onCancel()">Cancelar</button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid || loading"
      >
        {{ data?.id ? "Actualizar" : "Crear" }}
      </button>
    </div>
  </form>
</form>
